/* Template Geral */

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    min-height: 100vh;
}
.sidebar {
    background-color: #001637; 
    color: white;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh; 
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}

    .menu-item:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .menu-item .material-icons {
        margin-right: 10px;
    }

.active {
    background-color: rgba(255, 255, 255, 0.2);
}

/* RH homme */

.card {
    border-radius: 8px;
}

.card-header {
    background-color: white;
    border-bottom: 1px solid #dee2e6;
}

.table th {
    background-color: #f8f9fa;
}

.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}

.col-md-4 {
    min-height: 200px;
}

.btn-custom {
    background-color: #001637;
    border-color: #001637;
    color: white; 
    
}

    .btn-custom:hover,
    .btn-custom:focus {
        background-color: #002147; 
        border-color: #002147;
        color: white;
    }
/* RH aba colaboradores */
.table td, .table th {
    vertical-align: middle;
}

.table img {
    object-fit: cover;
}

.scrollable-body {
    display: block; 
    max-height: 350px; 
    overflow-y: auto; 
}
    .scrollable-body tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    .thead, .scrollable-body tr {
        width: 100%;
    }

        .thead th {
            position: sticky;
            top: 0;
            background-color: #f8f9fa;
            z-index: 2;
        }

.scrollable-table {
    max-height: 500px;
    overflow-y: auto;
}
    .scrollable-table thead th {
        position: sticky;
        top: 0;
        background-color: #f8f9fa; 
        z-index: 10; 
    }

/* Manager aba Home */

.card-altura{
    height: 260px;
    width: 480px;
}

.texto-flexcap {
    color: #001637;

}
/* Manager aba colaborador */

.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}