@{
    ViewData["Title"] = "Gestão de Colaboradores (RH)";
    Layout = "~/Views/Shared/Template.cshtml";
}

<div class="container-fluid py-4">
    <h2 class="fw-bold mb-4">Collaborators</h2>

    <!-- Filtros -->
    <div class="row g-2 mb-4">
        <div class="col-md">
            <input type="text" class="form-control" placeholder="Search name">
        </div>
        <div class="col-md">
            <select class="form-select">
                <option>Active</option>
                <option>Inactive</option>
            </select>
        </div>
        <div class="col-md">
            <select class="form-select">
                <option>Select country</option>
                <option>Brazil</option>
                <option>EUA</option>
            </select>
        </div>
        <div class="col-md">
            <input type="text" class="form-control" placeholder="Sector">
        </div>
        <div class="col-md">
            <input type="text" class="form-control" placeholder="Team">
        </div>
        <div class="col-auto">
            <button class="btn btn-dark">
                <span class="material-icons">search</span>
            </button>
        </div>
    </div>

    <!-- Tabela -->
    <div class="table-responsive">
        <table class="table align-middle">
            <thead class="table-light">
                <tr>
                    <th>Foto</th>
                    <th>Nome completo</th>
                    <th>Cargo</th>
                    <th>País</th>
                    <th>Status atual</th>
                    <th>Sector</th>
                    <th>Team</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="https://randomuser.me/api/portraits/women/44.jpg" class="rounded-circle" width="50"></td>
                    <td><strong>Júlia Freitas</strong></td>
                    <td>Dev Pleno</td>
                    <td>Brazil</td>
                    <td>Ativo</td>
                    <td>Fleet</td>
                    <td>Titans</td>
                </tr>
                <tr>
                    <td><img src="https://randomuser.me/api/portraits/men/45.jpg" class="rounded-circle" width="50"></td>
                    <td><strong>Jon Brown</strong></td>
                    <td>QA Senior</td>
                    <td>EUA</td>
                    <td>Inactive</td>
                    <td>Health</td>
                    <td>Ninjas</td>
                </tr>
                <tr>
                    <td><img src="https://randomuser.me/api/portraits/men/46.jpg" class="rounded-circle" width="50"></td>
                    <td><strong>Jon Brown</strong></td>
                    <td>Dev Senior</td>
                    <td>EUA</td>
                    <td>Ativo</td>
                    <td>Health</td>
                    <td>Avangers</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
