﻿
@model List<FlexCap.Web.Models.Colaborador>

@{
ViewData["Title"] = "Home Rh"; 
Layout = "~/Views/Shared/Template.cshtml";
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

<div class="container-fluid p-4">
    <h1 class="fw-bold">Overview - Human Resources</h1>
    <p class="text-muted" style="font-size: 1.3em;">
        Hello! Here is a summary of recent activities and registrations awaiting your approval.
    </p>

    <!-- Card de resumo -->
    <div class="row g-3 mb-4">
        <div class="col-md-4">
            <div class="card text-center h-100">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Total number of employees</h5>
                    <h1 class="fw-bold mb-0">@ViewData["TotalColaboradores"]</h1>
                    <p class="text-muted mb-3">Registered</p>
                    <a asp-controller="Colaboradores" asp-action="@ViewData["Profile"]" class="btn btn-custom btn-lg"><small>View Details</small></a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center h-100">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Requests pending approval</h5>
                    <h1 class="fw-bold mb-0">4</h1>
                    <p class="text-muted">Awaiting review</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-center h-100">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Active Sectors</h5>
                    <h1 class="fw-bold mb-0">@ViewData["TotalSetores"]</h1>
                    <p class="text-muted">Sectors</p>
                </div>
            </div>
        </div>
    </div>

   <!-- Tabela de pedidos -->
     <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Latest Registration Requests</h5>
            <div>
                <a href="#" class="btn btn-custom btn-sm">View all contributors</a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Sectors</th>
                        <th>Status</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
